<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <% if (item.completed === true){ %> 
          <input type="checkbox" name="checkbox" checked="true" onChange="this.form.submit()">
          <p style="text-decoration: line-through;"><%=item.name%></p> 
        <% } else{ %>
          <input type="checkbox" name="checkbox" onChange="this.form.submit()">
          <p><%=item.name%></p> 
        <% } %>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      <input type="text" name="itemId" value="<%=item._id%>" hidden="true" />
    </form>
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
